<section>
    <form novalidate="" name="details-form">
        <div class="formgroup">
            <label class="control-label">
                Name
            </label>
            <input type="text" class="form-control" ng-model="vm.selectedEvent.name" />
        </div>
        <div class="formgroup">
            <label class="control-label">
                Speaker
            </label>
            <input type="text" class="form-control" ng-model="vm.selectedEvent.speaker" />
        </div>
        <div class="formgroup">
            <label class="control-label">
                Venue
            </label>
            <input type="text" class="form-control" ng-model="vm.selectedEvent.venue" />
        </div>
        <div class="formgroup">
            <label class="control-label">
                Street
            </label>
            <input type="text" class="form-control" ng-model="vm.selectedEvent.street" />
        </div>
        <div class="formgroup">
            <label class="control-label">
                City
            </label>
            <input type="text" class="form-control" ng-model="vm.selectedEvent.city" />
        </div>
        <div class="formgroup">
            <label class="control-label">
                State
            </label>
            <input type="text" class="form-control" ng-model="vm.selectedEvent.state" />
        </div>
        <div class="formgroup">
            <label class="control-label">
                Zipcode
            </label>
            <input type="text" class="form-control" ng-model="vm.selectedEvent.zipcode" />
        </div>
        <div class="formgroup">
            <label class="control-label">
                Capacity
            </label>
            <input type="text" class="form-control" ng-model="vm.selectedEvent.capacity" />
        </div>
        <div class="formgroup">
            <label class="control-label">
                Start Date
            </label>
            <input type="text" class="form-control" ng-model="vm.selectedEvent.startDate" />
        </div>
        <div class="formgroup">
            <label class="control-label">
                End Date
            </label>
            <input type="text" class="form-control" ng-model="vm.selectedEvent.endDate" />
        </div>
        <div class="formgroup">
            <label class="control-label">
                Venue Open Date
            </label>
            <input type="text" class="form-control" ng-model="vm.selectedEvent.venueOpenDate" />
        </div>
        <div class="formgroup">
            <label class="control-label">
                Registration Close Date
            </label>
            <input type="text" class="form-control" ng-model="vm.selectedEvent.registrationCloseDate" />
        </div>
    </form>
</section>