
[ng-click], a {
    cursor: pointer;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

form#logoutForm {
    border: none;
    margin-left: 18px;
}

.white-txt { color: #fff; }

.blue-text { color: #3498db; }

.red-text { color: #e74c3c; }

.green-text { color: #2ecc71; }

.yellow-text { color: #f1c40f; }

.orange-text { color: #e67e22; }

.purple-text { color: #9b59b6; }
