@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,700);

html, body {
    font-family: 'roboto', sans-serif;
}

[ng-click], a {
    cursor: pointer;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.ng-hide-add, .ng-hide-remove {
    /* ensure visibility during the transition */
    display: block !important; /* yes, important */
}

form#logoutForm {
    border: none;
    margin-left: 18px;
}

th[st-sort] {
    cursor: pointer;
}

.st-sort-ascent:before {
    content: '\25B2';
}

.st-sort-descent:before {
    content: '\25BC';
}

.error-messages {
    color: maroon;
    font-weight: bold;
    position: relative;
    padding-top: 3px;
    padding-bottom: 3px;
}

    .error-messages div {
        position: absolute;
        opacity: 1;
        transition: 0.3s linear all;
        font-size: 0.9em;
    }

        .error-messages div.ng-enter {
            opacity: 0;
            top: -20px;
        }

            .error-messages div.ng-enter.ng-enter-active {
                opacity: 1;
                top: 0;
            }

        .error-messages div.ng-leave {
            opacity: 1;
            top: 0;
        }

        .error-messages div.ng-leave-active {
            opacity: 0;
            top: 20px;
        }

/*table {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 800px;
}

    table * {
        box-sizing: inherit;
        -moz-box-sizing: inherit;
    }

thead {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

tbody {
    overflow-y: scroll;
    display: inline-block;
}

    thead > tr, tbody > tr, tfoot > tr {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

thead, tfoot {
    flex-shrink: 0;
}

th, tbody td {
    width: 20%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

tfoot {
    display: inline-block;
}

    tfoot td {
        width: 100%;
        display: inline-block;
    }*/