@{
    ViewBag.Title = "Events";
}

<div ng-controller="EventController as vm">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{vm.title}}<small>{{vm.description}}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Event Manager</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">

                <div class="box box-warning box-solid">
                    <div class="box-header with-border">
                    </div><!-- /.box-header -->

                    <div class="box-body">
                        <div class="col-md-12">
                        </div>
                    </div><!--/box-body-->

                    <div class="overlay" ng-show="vm.isBusy">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                </div><!--/box-->
            </div>
        </div>
    </section>
</div>