@{
    ViewBag.Title = "Events";
}
<base href="/">
<div ng-controller="EventController as vm">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{vm.title}}<small>{{vm.description}}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Event Manager</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">

                <div class="box box-warning box-solid">
                    <div class="box-header with-border">
                        {{vm.selectedEvent.name}}
                    </div><!-- /.box-header -->

                    <div class="box-body">
                        <div class="row">

                            <div class="col-md-12">
                                <div class="form-group">
                                    <select ng-model="vm.selectedEvent"
                                            ng-options="event.name for event in vm.events"
                                            ng-disabled="false"
                                            ng-change="vm.changeEvent()"
                                            class="form-control">
                                        <option value="">Choose a Event</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                @*<div ng-view></div>*@

                                <uib-tabset>
                                    <uib-tab ng-repeat="tab in vm.tabs" heading="{{ tab.title }}" a active="tab.active">
                                        <div ng-include="tab.template"></div>
                                    </uib-tab>
                                </uib-tabset>
                            </div>
                            <div class="col-md-12">

                                <div class="col-md-12">
                                    Model:
                                    <pre>{{ vm.selectedEvent | json }}</pre>
                                    Nested Form:
                                    <pre>{{ outerForm.nestedForm | json }}</pre>
                                </div>
                            </div>
                        </div>
                    </div><!--/box-body-->

                    <div class="overlay" ng-show="vm.isBusy">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                </div><!--/box-->
            </div>
        </div>
    </section>
</div>