@{
    ViewBag.Title = "Home Page";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Dashboard
        <small>Possible Data Dashboard</small>
    </h1>
    @*<ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
        </ol>*@
</section>

<!-- Main content -->
<section class="content">

    <div class="row">

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon big-aqua"><i class="ion ion-ios-gear-outline"></i></span>
                <div class="inof-box-content">
                    <span class="info-box-text">Useful Metric</span>
                    <span class="info-box-number">90<small>%</small></span>
                </div>
            </div>
        </div>
    </div>
</section>