@model rsvp.web.ViewModels.FinishViewModel
@{
    ViewBag.Title = "Finish";
}

<h2>Thank You</h2>

<p>
    Dear @Model.Guest.Name,

    @Html.Raw(@Model.Event.Template.YesText)

</p>
@Html.ActionLink("Back", "Index", "Event", new { id = Model.Event.Name}, null )